<div class="main-header">
    <div class="main-header__inner">
        <div class="main-haeder__logo">
            <a href="#">
                <img src="./../../assets/images/logo.png" alt="open logo"/>
            </a>
        </div>
        <div class="main-header__nav h-100">
            <ul class="main-header__nav--list h-100">
                <li class="main-header__nav--item h-100"*ngFor="let item of menuItems">{{item}}</li>
            </ul>
        </div>
        <div class="main-header__buttons">
            <button type="button" class="open-btn" >Login</button>
            <button type="button" class="get-started open-btn" >Get Started</button>
        </div>
    </div>
</div>