.main-container {
    position: relative;
    &::before {
        content: "";
        width: 573px;
        height: 573px;
        background-image: url("./../../assets/images/blob-small.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: -110px;
        top: 60px;
    }
    &__inner {
        max-width: 1464px;
        margin: 0 auto;
        padding: 120px 24px;
        display: flex;
        width: 100%;
        position: relative;
    }
    &__left {
        flex: 0 0 40%;
        position: relative;
        &-title {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 48px;
            &::after {
                content: "";
                position: absolute;
                width: 236px;
                height: 8px;
                background: #000000 0% 0% no-repeat padding-box;
                border-radius: 13px;
                opacity: 0.7;
                top: 110px;
            }
            img {
                width: 407px;
                height: 98px;
            }
        }
        &::after {
            content: "";
            width: 430px;
            height: 70px;
            background-image: url("./../../assets/images/accounting_dots.svg");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 50%;
            bottom: -30px;
        }
    }
    &__right {
        flex: 0 0 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__collect {
        margin-top: 82px;
    }
    &__form {
        &-container {
            box-shadow: 0px 0px 30px #2321321f;
            border: 1px solid #ffffff;
            border-radius: 20px;
            width: 400px;
            background: white;
            min-height: 500px;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            .form-title {
                display: flex;
                justify-content: center;
                height: 38px;
                align-items: center;
                background: #f9f9f9;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
    &__loan {
        width: 200px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 390px;
        background: #663399;
        margin-left: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-amount,
        &-emi {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 24px 0;
            .currency {
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: white;
            }
            label {
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 12px;
                color: white;
            }
        }
        &-button {
            width: 136px;
        }
    }
}
