<div class="main-container">
    <div class="main-container__inner">
        <div class="main-container__left">
            <div class="main-container__left-title">
                <img src="./../../assets/images/We make it Super Sim.png" alt="make it simple"/>
            </div>
            <div class="main-container__collect">
                <img src="./../../assets/images/collect_img-video.png" alt="collect img"/>
            </div>
        </div>
        <div class="main-container__right"></div>
    </div>
</div>